* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 


body {
    background: url(./assets/hp.png) no-repeat top center;
    background-size: cover;
}

body * {
    font-family: 'Comfortaa', cursive;
    color: #E0C900;
}

footer {
    padding: 24px 0;
    text-align: center;
    font-size: 14px;
}

#container {
    width: 360px;
    margin: 56px auto 0px auto;
    padding: 0 24px;
}

#description {
    padding: 24px;
    text-align: center;
    font-size: 15px;
}

#profile {
    text-align: center;
    padding: 24px;
}

#profile img {
    width: 112px;
    border-radius: 50%;
}

#profile p {
    font-weight: 500;
    font-size: 16px;
    line-height: 24px;
}

/*Links*/
ul {
    list-style: none;

    display: flex;
    flex-direction: column;
    gap: 16px;
}

ul li a {
    border: 1px solid red;

    display: flex;
    align-items: center;
    justify-content: center;

    padding: 16px 24px;

    background: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.5);
    border-radius: 9px;

    backdrop-filter: blur(4px);
    -webkit-backdrop-filter: blur(4px);

    text-decoration: none;
    font-weight: 500;

    position: relative;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;
}

ul li a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(218, 240, 92, 0.2); /*Muda a cor do efeito*/
    opacity: 0;
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out;
}

ul li a:hover {
    transform: scale(1.05);
}

ul li a:hover::before {
    opacity: 1;
    transform: translateX(0%);
}